@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #9538E2;
  border-radius: 50px;
}
::-webkit-scrollbar-track{
background-color: #9538e21d;
  
}
*{
scroll-behavior: smooth;
}

body{
font-family: "Sora", sans-serif;
background-color: #f6f6f6;
}
#nav .active {
 
 font-weight: 700;
 color: #9538E2;
 
}

#gadgets .active{
background: #9538E2;
color: white;
font-weight: 700;
border-color: #9538E2;


}
#gadgets .active:hover{
background-color: #9538E2 !important;
}
.my-rating-class {
    max-width: 600px;
  }
