@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
scroll-behavior: smooth;
}

body{
font-family: "Sora", sans-serif;
background-color: #f6f6f6;
}
#nav .active {
 text-decoration: underline;
 font-weight: 700;
 
}

#gadgets .active{
background: #9538E2;
color: white;
font-weight: 700;
border-color: #9538E2;


}
#gadgets .active:hover{
background-color: #9538E2 !important;
}
.my-rating-class {
    max-width: 600px;
  }